@use './colors.scss';

.dashboard-container{
    width: -webkit-fill-available;
    height: auto;
    min-height: 100vh;
    max-height: 100vh;
    padding: 40px 24px;
    .title{
        font-size: 24px;
        color: colors.$value-black;
    }
}


.register-form{
    width: 35%;
    min-width: 600px;
    border-radius: 24px;
    background-color: colors.$value-snow;
    padding: 0px 18px 18px;
    border: 1px solid colors.$border-light;
}