@use './colors.scss';

.dashboard-container{
    width: -webkit-fill-available;
    height: auto;
    min-height: 100vh;
    max-height: 100vh;
    padding: 40px 24px;
    .title{
        font-size: 24px;
        color: colors.$value-black;
    }
}